 <!--form_for(create_rating, :remote => true, :html => { :class => 'create_rating' }) do |f| -->
 <!-- form_for(create_rating, remote: true) do |f| -->
<!--form_for(create_rating, :html => { :class => 'create_rating' }) do |f| -->
<div class="rating_form">
	<% if user_signed_in? %>
		<%= form_for(create_rating, :html => { :class => 'create_rating' }) do |f| %>
		    <%= f.label("value_1", content_tag(:span, '1'), {:class=>"rating", :id=>"1"}) %>
		    <%= radio_button_tag("rating[value]", 1, current_user_rating == 1, :class => 'rating_button') %>
		    
		    <%= f.label("value_2", content_tag(:span, '2'), {:class=>"rating", :id=>"2"}) %>
		    <%= radio_button_tag("rating[value]", 2, current_user_rating == 2, :class => 'rating_button') %>
		    
		    <%= f.label("value_3", content_tag(:span, '3'), {:class=>"rating", :id=>"3"}) %>
		    <%= radio_button_tag("rating[value]", 3, current_user_rating == 3, :class => 'rating_button') %>
		    
		    <%= f.label("value_4", content_tag(:span, '4'), {:class=>"rating", :id=>"4"}) %>
		    <%= radio_button_tag("rating[value]", 4, current_user_rating == 4, :class => 'rating_button') %>
		    
		    <%= f.label("value_5", content_tag(:span, '5'), {:class=>"rating", :id=>"5"}) %>
		    <%= radio_button_tag("rating[value]", 5, current_user_rating == 5, :class => 'rating_button') %>
		    
		    <%= hidden_field_tag("game_id", @game.id) %>
		    <%= f.submit :Submit %>
		<% end %>
		
		<p>
			Ihre Wertung :
			<%= current_user_rating %>
		</p>
	
	<% end %>
</div>