<!DOCTYPE html>
<html>
	<head>
	  <title>OnlineGameDataBase</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	
	<body>
	
	
	    <div class="container-fluid" id="container">
   			<div id="header">Welcome to the OGDB</div>

		    <div class="row-fluid">
			    <div class="span2" id="sidebar_left">
				<ul>
				<li><%= link_to_userprofile %></li>
					<li>adsf</li>
					<li>adsf</li>
					<li>adsf</li>
					<li>adsf</li>
				</ul>
			    </div>
			    
			    <div class="span8" id="content">

			    	
			    	<% if flash[:alert] %>
			    		<%= flash[:alert]%>
			    	<% end %>
			    	
				<%= yield %>



			    </div>
			    
			    <div class="span2" id="sidebar_right">
					<p>
						<%= link_to_register %>
					</p>
					
					<% if user_signed_in? %>
						<p>
							<%= link_to_logout %>
						</p>
					<% else%>
						<p>
							<%= link_to_login %>
						</p>
					<% end %>
			    </div>
			    
			    <% if user_signed_in? %>
				    <div class="span2" id="sidebar_right">
				    	<p><%= flash[:notice]%>
				    		
				    		<% if user_signed_in? %>
								<%= current_user.username %>
				    		<% end %>
				    		
				    	</p>
				    </div>
			    <% end %>
		    </div>
		    
		<div id="footer">
	    	&copy; 2013 | Sir Jay
	    </div>
		    
	    </div>
	    

	
	</body>
</html>
