<h1>Suchergebnisse</h1>

<% if(params[:search]) %>
	<table>
	<% @games.each do |game| %>
	  <tr>
	    <td><%= link_to game.title, game %> 
	    	<span>(<%= game.release.strftime("%Y") %>)</span>
	    </td>
	    
	    <td><%= link_to 'Löschen', game, method: :delete, data: { confirm: "Sicher?"} %></td>
	    
	  </tr>
	<% end %>
	</table>
<% else %>
	Nothing Found
<% end %>

<%= will_paginate %>

<br />

Gesuchtes Spiel nicht aufgelistet? <br />

<%= link_to 'Tragen Sie einen neuen Titel ein', new_game_path %>
