<p class="game_title">
  <%= @game.title %> 
  	<% if @game.subtitle.present?%>
  		<span class="game_subtitle">: <%= @game.subtitle%> </span>
  	<% end %>
</p>

<p>
  <b>Originaltitel:</b></br>
  <%= @game.title_org %>
    <% if @game.subtitle_org.present?%>
  		<span>- <%= @game.subtitle_org %> </span>
  	<% end %>
</p>

<%= image_tag @game.cover(:small), class: "game_cover"%>

<p>
  <b>Genre:</b>
  <%= @game.genre %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher %>
</p>

<p>
  <b>Release:</b>
  <%= @game.release.strftime("%d %b %Y") %>
</p>

<p>
  <b>System:</b>
  <%= @game.system %>  
</p>

<p>
  <b>USK</b>
  <%= @game.usk %>
  <% if @game.usk == 18 %>
	  <% if @game.indizierung == true %>
	  	<span class="index_true">indiziert!</span>
	  <% else %>
	   <span class="index_false">nicht indiziert</span>
	  <% end %>
  <% end %>
</p>

<p>
  <b>Medium</b>
  <%= @game.medium %>
</p>


<section class="rating_area">
	<div>
		Durchschnittswert:
		<span class="rating_avg">
		<% if !@game.average_rating.present? %>
			unbewertet
		<% else %>
			<%= @game.ratings.average(:value) %>
		<% end %>
		</span>
	</div>
	
	<div>
		Anzahl Wertungen: 
		<span class="rating_amount"><%= @game.ratings.count %></span>
	</div>


	<% if user_signed_in? %>
		<div class= "user_rating">
			<%= render "ratings/rating_form"%>
		</div>
		
		<p>
			Ihre Wertung :
			<span class="current_user_rating">
				<%= current_user_rating %>
			</span>
		</p>
	<% end %>
</section>

<section class="review_area">
	<h3>Reviews</h3>

	<% if user_signed_in? %>
    	
		<div class="user_review">
	  		<%= link_to "Kritik verfassen", newreview_path, class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
	<%= render 'misc/feed' %>
</section>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>


<% content_for :sidebar do %>
  	<%= render "misc/game_users"%>
	<%= render 'misc/own_game_form' if user_signed_in? %>
<% end %>