<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer %>
</p>

<p>
  <b>Release:</b>
  <%= @game.release.strftime("%d %b %Y") %>
</p>

<p>
  <b>System:</b>
  <%= @game.system %>
</p>

<section class="rating_area">
	<div>
		Durchschnittswert: 
		<%= @game.average_rating %>
	</div>
	
	<div>
		Anzahl Wertungen: 
		<%= @game.amount_ratings %>
	</div>


	<% if user_signed_in? %>
		<div class= "user_rating">
				<%= render "ratings/rating_form"%>
		</div>
	<% end %>
</section>

<section class="review_area">
	<h3>Reviews</h3>

	<% if user_signed_in? %>
    	
		<div class="user_review">
	  		<%= link_to "Kritik verfassen", newreview_path, class: "btn btn-large btn-primary" %>
		</div>
	<% end %>
	<%= render 'misc/feed' %>
</section>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>


<% content_for :sidebar do %>
  	<%= render "misc/game_users"%>
	<%= render 'misc/own_game_form' if user_signed_in? %>
<% end %>