<!DOCTYPE html>
<html>
	<head>
	  <title><%= full_title(yield(:title)) %></title>  
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= yield :script %>
	</head>
	
	<body>
	
		<%= render "layouts/header"%>
		<div id="bg">
		    <div class="container">
		    	
			    <div class="row-fluid">
					  <% flash.each do |key, value| %>
				        <div class="alert alert-<%= key %>"><%= value %></div>
				      <% end %>
				      
				      <div class="span10 main-container">
				      
				      	<%= yield %>
				      </div>
				      
				      <div class="span2 sidebar"> 
				      	<%= render "layouts/sidebar_user"%> 
				      	<%= yield(:sidebar)%>
				      </div>
			      </div>
			      
		    </div>
	  </div>
	<%= render 'layouts/footer' %>
	</body>
</html>
