<%= form_for(@game, :html => { :class => 'form-horizontal', :multipart => true}) do |f| %>

<%= render 'misc/error_messages', object: f.object %> 

  <div class="control-group">
    <%= f.label :cover, class: "control-label"%>
    <div class="controls"><%= f.file_field :cover %></div>
  </div>

  <div class="control-group">
    <%= f.label :title, class: "control-label"%>
    <div class="controls"><%= f.text_field :title %></div>
  </div>
  
  <div class="control-group">
    <%= f.label :subtitle, class: "control-label" %>
    <div class="controls"><%= f.text_field :subtitle %> </div>
  </div>
  
  <div class="control-group">
    <%= f.label :title_org, class: "control-label" %>
    <div class="controls"><%= f.text_field :title_org %> </div>
  </div>
  
  <div class="control-group">
    <%= f.label :subtitle_org, class: "control-label" %>
    <div class="controls"><%= f.text_field :subtitle_org %> </div>
  </div>
  
  <div class="control-group">
    <%= f.label :developer, class: "control-label" %>
    <div class="controls"><%= f.text_field :developer %></div>
  </div>
  
  <div class="control-group">
    <%= f.label :publisher, class: "control-label" %>
    <div class="controls"><%= f.text_field :publisher %></div>
  </div>
  
  <div class="control-group">
    <%= f.label :release, class: "control-label" %>
    <div class="controls date_field"><%= f.date_select :release, 
    									start_year: Time.now.year - 100,
    									end_year: Time.now.year  %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :system, class: "control-label" %>
    <div class="controls"><%= f.text_field :system %> </div>
  </div>
  
  <div class="control-group">
    <%= f.label :genre, class: "control-label" %>
    <div class="controls"><%= f.text_field :genre %> </div>
  </div>
  
  <div class="control-group">
    <%= f.label :usk, class: "control-label" %>
    <div class="controls"><%= f.text_field :usk %> </div>
  </div>
  
  <div class="control-group">
    <%= f.label :medium, class: "control-label" %>
    <div class="controls"><%= f.text_field :medium %> </div>
  </div>
  
  <div class="control-group">
    <%= f.label :indizierung, class: "control-label" %>
    <div class="controls"><%= f.check_box :indizierung %> </div>
  </div>
  
    <%= f.submit "Spiel anlegen", class: "btn btn-large btn-primary controls"%>
  
<% end %>
