<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2><%= @user.email %></h2>
    </section>
  </aside>
        <section>
        <%= render 'misc/user_stats' %>
      </section>
	<span>
		Current User has <%= pluralize(current_user.reviews.count, "review") %>
	</span>
  
  <div class="span8">
    <% if @user.reviews.any? %>
      <h3>Reviews (<%= @user.reviews.count %>)</h3>
      
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
  
  
</div>

