<% provide(:title, @user.name) %>

 
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2><%= @user.email %></h2>
    </section>
  
      <section>
        <%= render 'misc/user_games' %>
      </section>
	<span>
		Current User has <%= pluralize(current_user.reviews.count, "review") %>
	</span>
  

    <% if @user.reviews.any? %>
      <h3>Reviews (<%= @user.reviews.count %>)</h3>
      
      <ol class="reviews">
        <!--%= render @reviews %-->
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  
  <% content_for :sidebar do %>
  	Sidebar User
  <% end %>
  

