<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_cover %><br />
    <%= f.text_field :game_cover %>
  </div>
  <div class="field">
    <%= f.label :title_german %><br />
    <%= f.text_field :title_german %>
  </div>
  <div class="field">
    <%= f.label :title_original %><br />
    <%= f.text_field :title_original %>
  </div>
  <div class="field">
    <%= f.label :title_alternative %><br />
    <%= f.text_field :title_alternative %>
  </div>
  <div class="field">
    <%= f.label :developer %><br />
    <%= f.text_field :developer %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br />
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :system %><br />
    <%= f.text_field :system %>
  </div>
  <div class="field">
    <%= f.label :release %><br />
    <%= f.date_select :release,
    					start_year: Time.now.year - 50,
    					end_year: Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :dlc %><br />
    <%= f.check_box :dlc %>
  </div>
  <div class="field">
    <%= f.label :dlc_addon %><br />
    <%= f.check_box :dlc_addon %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
