<table>

	<% @games.each do |game| %>
	  <tr>
	    <td><%= link_to game.title_german, game %></td>
	    <td><%= game.title_original %></td>
	    <td><%= game.release %></td>
	    <td><%= game.dlc %></td>
	    <!-- <td><%= link_to 'Edit', edit_game_path(game) %></td>  -->
	    <!--<td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td> -->
	  </tr>
	<% end %>
</table>
