<p id="notice"><%= notice %></p>

<p>
  <b>Game cover:</b>
  <%= @game.game_cover %>
</p>

<p>
  <b>Title german:</b>
  <%= @game.title_german %>
</p>

<p>
  <b>Title original:</b>
  <%= @game.title_original %>
</p>

<p>
  <b>Title alternative:</b>
  <%= @game.title_alternative %>
</p>

<p>
  <b>Developer:</b>
  <%= @game.developer %>
</p>

<p>
  <b>Publisher:</b>
  <%= @game.publisher %>
</p>

<p>
  <b>System:</b>
  <%= @game.system %>
</p>

<p>
  <b>Release:</b>
  <%= @game.release %>
</p>

<p>
  <b>Dlc:</b>
  <%= @game.dlc %>
</p>

<p>
  <b>Dlc addon:</b>
  <%= @game.dlc_addon %>
</p>

<p>
  <b>Rating:</b>
  <%= @game.rating %>
</p>


<%= link_to_edit_game %> |
<%= link_to_startscreen %>
