<li id="<%= review_link.id %>">
	
  <span class="user">
    <%= link_to review_link.game.title, review_link.game %>
  </span> 
  <span class="review_delete">    
  	(<% if current_user?(review_link.user) %>
    <%= link_to "delete", review_link, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: review_link.content %>
  	<% end %>)
  </span>
  
  <span class="content"><%= review_link.content %></span>
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(review_link.created_at) %> ago.
  </span>

  
</li>
  